body.centering-body {
  margin: 0 auto 0 auto;
  position: relative;
  text-align: center;
}

.flex-container {
  align-items: stretch;
  align-content: space-between;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
//  justify-content: space-between;
  margin: 0 auto 0 auto;
  text-align: center;
}

.flex-circle-contain {
  margin-bottom: 20px;
}

.flex-check-contain {
  margin: 40px 0 50px 0;
}

.flex-item, .flex-circle-item, .flex-check-item {
  display: block;
//  flex-grow: 1;
  max-width: 250px;
  margin: 0 auto 0 auto;
  padding: 0 50px;
  text-align: center;
  vertical-align: bottom;

  img {
    margin: 30px 0;
  }
}

.curly-svg {
  display: none;
}

.horizontal-section {
  background-color: #FFF;
  color: $paletteDarkGray;
  display:block;
  font-weight: $lightWeight;
  padding: 50px 0;
  position: relative;
  z-index: 5000;
}

.horizontal-section.dark-back {
  color: #FFF;
  font-weight: $lightWeight;

  h2 {
    color: #FFF;
  }
}

.oval-container {
  border: 1px solid $paletteGray;
  @include border-radius(100px);
  height: 50px;
  width: 80%;
  line-height: 1.5;
  margin: 0 auto 0 auto;
  padding: 20px 35px;
  vertical-align: middle;
}

.flex-check-item {
  font-size: 20px;
  margin: 0 auto 0 auto;
}

@media (min-width: 1060px) {
  .flex-item, .flex-check-item {
    display: inline-block;
    padding: 0 70px;
  }

  .flex-item.two-item-spacing {
    margin: 0 70px;
  }

  .flex-circle-item {
    display: inline-block;
    padding: 0 50px;
  }

  .curly-svg {
    display: inline-block;
    margin-bottom: -55px;
  }

  .oval-container {
    width: auto;
  }

}