.svg-single-ellipse {
  display: block;
}

.desktop-svg-two-ellipses {
  display: none;
}

.desktop-svg-three-ellipses {
  display: none;
}


@media (min-width: 1060px) {
  .svg-single-ellipse {
    display: none;
  }

  .desktop-svg-two-ellipses {
    display: inline-block;
  }

  .desktop-svg-three-ellipses {
    display: inline-block;
  }
}