.subtle-header {
  font-weight: $lightWeight;
}

.medium-weight-header {
  font-weight: $MedWeight;
  margin: 40px 0 20px 0;
}

.heavy-weight {
  font-weight: $HeavyWeight;
}

.med-alt-header {
  color: $palettePrimaryBlue;
  font-weight: $lightWeight;
}