.subtle-header {
  font-weight: $lightWeight;
}

.medium-weight-header {
  font-size: 30px;
  font-weight: $MedWeight;
  margin: 20px;
}

.medium-weight-header.spacing-50 {
  margin-top: 50px;
}

.heavy-weight {
  font-weight: $HeavyWeight;
}

.med-alt-header {
  color: $palettePrimaryBlue;
  font-weight: $lightWeight;
}

.bold-header {
  font-family: $sanserifFont;
  font-size: 30px;
  font-weight: $HeavyWeight;
}

.med-header {
  font-family: $sanserifFont;
  font-size: 30px;
  font-weight: $MedWeight;
}

@media (min-width: 1060px) {
  .medium-weight-header {
    font-size: 40px;
  }

  .bold-header {
    font-size: 40px;
  }

  .med-header {
    font-size: 40px
  }
}