{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Beepi Interview Page - Version 2</title>
    <meta name="viewport" content="width=device-width">

    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'stylesheets/main.css' %}" />
</head>
<body class="centering-body">


        <section class="horizontal-section">
            <h2 class="medium-weight-header"><span class="subtle-header">From there,</span> simplicity takes over...</h2>

            <div class="flex-contain">
                <figure class="flex-item">
                    <img src="{% static 'img/PastedGraphic-8.png' %}" height="175" width="197" />

                    <p class="oval-container">We'll send an inspector to get to know your car.</p>

{#                    <div id="trigger1" class="spacer s0" style=""></div>#}
{#                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="272" height="200">#}
{#                        <path id="connectedEllipses" style="stroke-linecap: round; stroke-linejoin: round; stroke-dasharray: 1009.22662353516px; stroke-dashoffset: 1009.22662353516px;" fill="red" stroke="red" stroke-width="5" d=""#}
{#                        <rect id="ellipse" x="1" y="5" width="265" height="90" rx="40" ry="50" stroke-width="2px" stroke="blue" fill="rgba(0,0,0,0)"></rect>#}
{#                        <text x="45" y="43">We'll send an inspector to</text>#}
{#                        <text x="65" y="63">get to know your car.</text>#}
{#                    </svg>#}
                    <div id="trigger1" class="spacer s0" style=""></div>

                </figure>

                <figure class="flex-item">
                    <img src="{% static 'img/PastedGraphic-7.png' %}" height="172" width="198" />
                    <p class="oval-container">We'll quote you a great price that'll never change.</p>
                </figure>

                <figure class="flex-item">
                    <img src="{% static 'img/PastedGraphic-6.png' %}" height="189" width="232" />
                    <p class="oval-container">We'll find a buyer in 30-days or less.</p>
                </figure>
            </div>
            <svg class="desktop-svg-three-ellipses" width="957" height="92" xmlns="http://www.w3.org/2000/svg">
                <g>
                <path id="ellipse-1" d="m42.57666,2.5856l166.84668,0l0,0c21.85767,0 39.57666,19.43904 39.57666,43.41842c0,23.97133 -17.71899,43.41037 -39.57666,43.41037l-166.84668,0l0,0c-21.85739,0 -39.57666,-19.43904 -39.57666,-43.41037c0,-23.97938 17.71927,-43.41842 39.57666,-43.41842z" stroke-width="1" stroke="#000000" fill="none"/>
                <line id="line-1" y2="46" x2="348" y1="46" x1="250" stroke-linecap="null" stroke-linejoin="null" stroke-width="1" stroke="#000000" fill="none"/>
                <path id="ellipse-2" d="m390.66812,2.5856l175.66373,0l0,0c23.01276,0 41.66815,19.43904 41.66815,43.41842c0,23.97134 -18.6554,43.41038 -41.66815,43.41038l-175.66373,0l0,0c-23.01251,0 -41.66812,-19.43904 -41.66812,-43.41038c0,-23.97938 18.65561,-43.41842 41.66812,-43.41842z" stroke-width="1" stroke="#000000" fill="none"/>
                <line id="line-2" y2="44.5" x2="707" y1="44.5" x1="609" stroke-linecap="null" stroke-linejoin="null" stroke-width="1" stroke="#000000" fill="none"/>
                <path id="ellipse-3" d="m747.57666,2.5856l166.84668,0l0,0c21.85767,0 39.57666,19.43904 39.57666,43.41842c0,23.97134 -17.71899,43.41038 -39.57666,43.41038l-166.84668,0l0,0c-21.85742,0 -39.57666,-19.43904 -39.57666,-43.41038c0,-23.97938 17.71924,-43.41842 39.57666,-43.41842z" stroke-width="1" stroke="#000000" fill="none"/>
                </g>
            </svg>
            <h2 class="medium-weight-header"><span class="subtle-header">Then, it's</span> time to say goodbye.</h2>

            <div class="flex-contain">
                <figure class="flex-item">
                    <img src="{% static 'img/PastedGraphic-4.png' %}" height="179" width="209" />
                    <p class="oval-container">We'll send an inspector to get to know your car.</p>
                </figure>

                <figure class="flex-item">
                    <img src="{% static 'img/PastedGraphic-5.png' %}" height="122" width="297" />
                    <p class="oval-container">We'll quote you a great price that'll never change.</p>
                </figure>
            </div>
        </section>

        <div id="timeBg" class="parallax__layer--back active" style="background-position: center; background-image:url({% static 'img/PastedGraphic-4 2.png' %});"></div>
        <div id="moneyBg" class="parallax__layer--back inactive" style="background-position: center; background-image:url({% static 'img/PastedGraphic-3 2.png' %});"></div>

        <section class="horizontal-section dark-back" style="background: rgba(0,0,0,.1);">
            <h2 class="med-header">
                So, why sell with Beepi?
                <div class="subtle-header">A better experience in everyway.</div>
            </h2>
            <div class="toggle-btn-spacer">
                <button id="time" class="left-toggle">TIME</button><button id="money" class="right-toggle inactive">MONEY</button>
            </div>
            <div class="toggle-description active" id="timeDesc">
                <div class="subtle-header">The average private sale takes 2-months.</div>
                Beepi sales are guaranteed in 30-days from the date of inspection.
            </div>
            <div class="toggle-description" id="moneyDesc">
                <div class="subtle-header">Beepi's magical pricing algorithm uses market data to ensure</div>
                Sellers get more, and Buyers pay less.
            </div>
        </section>


        <section class="horizontal-section">
            <h2 class="med-header">
                Convenience at last
            </h2>

            <div class="flex-circle-contain">
                <div class="flex-circle-item">
                    <img src="{% static 'img/PastedGraphic-1.png' %}" />
                    <h3 class="med-alt-header">Scheduling putting a wrench in your day?</h3>
                    <p>We'll meet you at a time and place convenient for you to inspect your car.</p>
                </div>

                <div class="flex-circle-item">
                    <img src="{% static 'img/PastedGraphic-2.png' %}" />
                    <h3 class="med-alt-header">Reinventing the paperwork wheel?</h3>
                    <p>Beepi takes care of all paperwork ensuring it gets filled out correctly.</p>
                </div>

                <div class="flex-circle-item">
                    <img src="{% static 'img/PastedGraphic-3.png' %}" />
                    <h3 class="med-alt-header">Worried about how you'll get around?</h3>
                    <p>Feel free to drive your car until the second we hand you a check</p>
                </div>
            </div>
        </section>

        <section class="horizontal-section dark-back" style="background-size: cover; background-image:url({% static 'img/PastedGraphic-2 2.png' %});">
            <h2 class="med-header">A truly safe transaction</h2>
            <div class="flex-check-contain">
                <div class="flex-check-item">
                    <img src="{% static 'img/PastedGraphic-1 2.png' %}" height="97" width="96" />
                    <p>
                        No more randos<br />
                        <b>kicking tires.</b>
                    </p>
                </div>

                <div class="flex-check-item">
                    <img src="{% static 'img/PastedGraphic-1 2.png' %}" height="97" width="96" />
                    <p>
                        A price that<br />
                        <b>never changes.</b>
                    </p>
                </div>

                <div class="flex-check-item">
                    <img src="{% static 'img/PastedGraphic-1 2.png' %}" height="97" width="96" />
                    <p>
                        When it's sold,<br />
                        <b>it's sold.</b>
                    </p>
                </div>
            </div>

            <a class="outline-btn" href="">Sell my car for me Beepi!</a>
        </section>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static '' %}"></script>
{#    <script src="//cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.29/skrollr.min.js"></script>#}
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/ScrollMagic.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>

    <!-- You can compress this into a separate file using yuglify or some other compressor -->
    <script type="text/javascript">
{#        function pathPrepare($el) {#}
{#            var ovalLength = $el[0].getTotalLength();#}
{#            console.log(ovalLength);#}
{#            $el.css("stroke-dasharray", ovalLength);#}
{#            $el.css("stroke-dataoffset", ovalLength);#}
{#        }#}
{##}
{#        var $ellipseVector = $("#ellipse-1");#}
{#        pathPrepare($ellipseVector);#}
{##}
{#        var controller = new ScrollMagic.Controller();#}
{##}
{#        var tween = new TimelineMax().add(TweenMax.to($ovalVector, 1, {strokeDashoffset: 0, ease: Linear.easeNone})).add(TweenMax.to("path", 1, {stroke: "#009BFF", ease:Linear.easeNone}), 0);#}
{##}
{#        var scene = new ScrollMagic.Scene({triggerElement: "#trigger1", duration: 200, tweenChanges: true}).setTween(tween).addTo(controller);#}

        $(window).scroll(function() {
            drawLines();
        });

        function drawLines(){
            $.each($("path"), function(i, val){
                console.log(i);
              var line = val;
              drawLine($(this), line);
            });

        }

        function drawLine(container, line){
          var length = 0;
          var pathLength = line.getTotalLength();
          var distanceFromTop = container.offset().top - $(window).scrollTop();
          var percentDone = 1 - (distanceFromTop / $(window).height());
          length = percentDone * pathLength;
          line.style.strokeDasharray = [length,pathLength].join(' ');
          console.log("strokeDasharray: "+[length,pathLength].join(' '));
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function() {


            $('#time').click(function(){
                toggleTimeMoney(this);
            });

            $('#money').click(function(){
                toggleTimeMoney(this);
            });

            function toggleTimeMoney(toggle){
                if ($(toggle).hasClass('inactive') && toggle.id === 'time') {
                    $(toggle).removeClass('inactive');
                    $('#money').addClass('inactive');
                    $('#moneyDesc').removeClass('active');
                    $('#timeDesc').addClass('active');
                    $('#moneyBg').addClass('inactive').removeClass('active');
                    $('#timeBg').addClass('active').removeClass('inactive');
                } else if ($(toggle).hasClass('inactive') && toggle.id === 'money'){
                    $(toggle).removeClass('inactive');
                    $('#time').addClass('inactive');
                    $('#timeDesc').removeClass('active');
                    $('#moneyDesc').addClass('active');
                    $('#moneyBg').addClass('active').removeClass('inactive');
                    $('#timeBg').addClass('inactive').removeClass('active');

                } else {
                    return;
                }
            }

        });
    </script>
</body>
</html>
