{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Beepi Interview Page</title>
    <meta name="viewport" content="width=device-width">

    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'stylesheets/main.css' %}" />
</head>
<body class="centering-body">


        <section class="horizontal-section">
            <h2 class="medium-weight-header"><span class="subtle-header">From there,</span> simplicity takes over...</h2>

            <div class="flex-contain">
                <figure class="flex-item">
                    <img src="{% static 'img/PastedGraphic-8.png' %}" height="175" width="197" />

                    <p class="oval-container">We'll send an inspector to get to know your car.</p>
{#                    <div class="spacer s2"></div>#}
{#            <div id="trigger1" class="spacer s0" style=""></div>#}
{#            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="350" height="200">#}
{#                <path id="word" style="stroke-linecap: round; stroke-linejoin: round; stroke-dasharray: 1009.22662353516px; stroke-dashoffset: 1009.22662353516px;" fill="none" stroke="#000000" stroke-width="5" d="M22.328,70.018c9.867-7.4,10.724,20.434,13.014,28.694c-0.08-9.105-1.308-31.463,11.936-31.886#}
{#                        c11.313-0.361,17.046,19.368,16.367,28.098c-1.432-10.289,6.234-30.682,18.163-25.671c11.505,4.833,8.682,26.772,20.071,31.964#}
{#                        c13.06,5.953,14.854-8.305,19.734-17.017c7.188-12.836,4.933-15.417,29.6-14.8c-8.954-3.842-37.42,1.728-28.539,20.1#}
{#                        c5.823,12.045,34.911,12.583,30.018-8.873c-5.385,17.174,24.01,23.104,24.01,9.123c0-9.867,3.816-15.937,16.034-18.5#}
{#                        c8.359-1.754,18.982,4.754,25.9,9.25c-10.361-4.461-51.941-13.776-37.749,12.357c9.435,17.372,50.559,2.289,33.477-6.063#}
{#                        c-2.871,19.008,32.415,31.684,30.695,54.439c-2.602,34.423-66.934,24.873-79.302,2.134c-13.11-24.101,38.981-36.781,54.798-40.941#}
{#                        c8.308-2.185,42.133-12.162,25.88-25.587c-2.779,17.058,19.275,28.688,29.963,12.911c6.862-10.131,6.783-25.284,30.833-19.117#}
{#                        c-9.404-0.429-32.624-0.188-32.864,18.472c-0.231,17.912,21.001,21.405,40.882,11.951"></path>#}
{#            </svg>#}
{#            <div class="spacer s2"></div>#}
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="272" height="200">
{#                        <path id="connectedEllipses" style="stroke-linecap: round; stroke-linejoin: round; stroke-dasharray: 1009.22662353516px; stroke-dashoffset: 1009.22662353516px;" fill="red" stroke="red" stroke-width="5" d=""#}
                        <rect id="ellipse" x="1" y="5" width="265" height="90" rx="40" ry="50" stroke-width="2px" stroke="blue" fill="rgba(0,0,0,0)"></rect>
                        <text x="45" y="43">We'll send an inspector to</text>
                        <text x="65" y="63">get to know your car.</text>
                    </svg>
                </figure>

                <figure class="flex-item">
                    <img src="{% static 'img/PastedGraphic-7.png' %}" height="172" width="198" />
                    <p class="oval-container">We'll quote you a great price that'll never change.</p>
                </figure>

                <figure class="flex-item">
                    <img src="{% static 'img/PastedGraphic-6.png' %}" height="189" width="232" />
                    <p class="oval-container">We'll find a buyer in 30-days or less.</p>
                </figure>
            </div>

            <h2 class="medium-weight-header"><span class="subtle-header">Then, it's</span> time to say goodbye.</h2>

            <div class="flex-contain">
                <figure class="flex-item">
                    <img src="{% static 'img/PastedGraphic-4.png' %}" height="179" width="209" />
                    <p class="oval-container">We'll send an inspector to get to know your car.</p>
                </figure>

                <figure class="flex-item">
                    <img src="{% static 'img/PastedGraphic-5.png' %}" height="122" width="297" />
                    <p class="oval-container">We'll quote you a great price that'll never change.</p>
                </figure>
            </div>
        </section>

        <div id="timeBg" class="parallax__layer--back active" style="background-position: center; background-image:url({% static 'img/PastedGraphic-4 2.png' %});"></div>
        <div id="moneyBg" class="parallax__layer--back inactive" style="background-position: center; background-image:url({% static 'img/PastedGraphic-3 2.png' %});"></div>

        <section class="horizontal-section dark-back" style="background: rgba(0,0,0,.1);">
            <h2>
                So, why sell with Beepi?<br />
                A better experience in everyway.
            </h2>

            <button id="time" class="left-toggle">TIME</button><button id="money" class="right-toggle inactive">MONEY</button>

            <p class="toggle-description active" id="timeDesc">
                The average private sale takes 2-months.
                Beepi sales are guaranteed in 30-days from the date of inspection.
            </p>
            <p class="toggle-description" id="moneyDesc">
                Beepi's magical pricing algorithm uses market data to ensure
                Sellers get more, and Buyers pay less.
            </p>
        </section>


        <section class="horizontal-section">
            <h2>
                Convenience at last
            </h2>

            <div class="flex-circle-item">
                <img src="{% static 'img/PastedGraphic-1.png' %}" />
                <h3 class="med-alt-header">Scheduling putting a wrench in your day?</h3>
                <p>We'll meet you at a time and place convenient for you to inspect your car.</p>
            </div>

            <div class="flex-circle-item">
                <img src="{% static 'img/PastedGraphic-2.png' %}" />
                <h3 class="med-alt-header">Reinventing the paperwork wheel?</h3>
                <p>Beepi takes care of all paperwork ensuring it gets filled out correctly.</p>
            </div>

            <div class="flex-circle-item">
                <img src="{% static 'img/PastedGraphic-3.png' %}" />
                <h3 class="med-alt-header">Worried about how you'll get around?</h3>
                <p>Feel free to drive your car until the second we hand you a check</p>
            </div>
        </section>

        <section class="horizontal-section dark-back" style="background-size: cover; background-image:url({% static 'img/PastedGraphic-2 2.png' %});">
            <h2>A truly safe transaction</h2>
            <div class="flex-contain">
                <div class="flex-check-item">
                    <img src="{% static 'img/PastedGraphic-1 2.png' %}" height="97" width="96" />
                    <p>
                        No more randos<br />
                        <b>kicking tires.</b>
                    </p>
                </div>

                <div class="flex-check-item">
                    <img src="{% static 'img/PastedGraphic-1 2.png' %}" height="97" width="96" />
                    <p>
                        A price that<br />
                        <b>never changes.</b>
                    </p>
                </div>

                <div class="flex-check-item">
                    <img src="{% static 'img/PastedGraphic-1 2.png' %}" height="97" width="96" />
                    <p>
                        When it's sold,<br />
                        <b>it's sold.</b>
                    </p>
                </div>
            </div>

            <a class="outline-btn" href="">Sell my car for me Beepi!</a>
        </section>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static '' %}"></script>
{#    <script src="//cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.29/skrollr.min.js"></script>#}
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/ScrollMagic.js"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/jquery.gsap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>

{#    <script type="text/javascript">#}
{#            // This is the parallax effect#}
{#            skrollr.init({#}
{#                smoothScrolling: false,#}
{#                mobileDeceleration: 0.004#}
{#            });#}
{#    </script>#}
{#<script type="text/javascript">#}
{#        function pathPrepare($el) {#}
{#                var ovalLength = $el[0].getTotalLength();#}
{#                $el.css("stroke-dasharray", ovalLength);#}
{#                $el.css("stroke-dataoffset", ovalLength);#}
{#            }#}
{##}
{#            $ovalVector = $("path#oval-vector");#}
{#            pathPrepare($ovalVector);#}
{##}
{#            var controller = new ScrollMagic.Controller();#}
{##}
{#            var tween = new TimelineMax().add(TweenMax.to($ovalVector, 1, {strokeDashoffset: 0, ease: Linear.easeNone})).add(TweenMax.to("path", 1, {stroke: "#009BFF", ease:Linear.easeNone}), 0);#}
{##}
{#            var scene = new ScrollMagic.Scene({triggerElement: "#trigger1", duration: 200, tweenChanges: true}).setTween(tween).addTo(controller);#}
{#        </script>#}

{#<script>#}
{#	function pathPrepare ($el) {#}
{#		var lineLength = $el[0].getTotalLength();#}
{#		$el.css("stroke-dasharray", lineLength);#}
{#		$el.css("stroke-dashoffset", lineLength);#}
{#	}#}
{##}
{#	var $word = $("path#word");#}
{##}
{#	// prepare SVG#}
{#	pathPrepare($word);#}

{#    $(window).scroll(function(){#}
{#console.log($(window).scrollTop().toString());#}
{#        if($(window).scrollTop().toString() >= '300'){#}
{#            buildSVG();#}
{#        }#}
{#    });#}

{#    // init controller#}
{#        var controller = new ScrollMagic.Controller();#}
{##}
{#        // build tween#}
{#        var tween = new TimelineMax()#}
{#            .add(TweenMax.to($word, 1, {strokeDashoffset: 0, ease:Linear.easeNone})) // draw word for 0.9#}
{#            .add(TweenMax.to("path", 1, {stroke: "#33629c", ease:Linear.easeNone}), 0);			// change color during the whole thing#}
{##}
{#        // build scene#}
{#        var scene = new ScrollMagic.Scene({triggerElement: "#trigger1", duration: 200, tweenChanges: true}).setTween(tween).addIndicators().addTo(controller);#}
{##}
{#    function buildSVG() {#}
{#        // init controller#}
{#        var controller = new ScrollMagic.Controller();#}
{##}
{#        // build tween#}
{#        var tween = new TimelineMax()#}
{#            .add(TweenMax.to($word, 1, {strokeDashoffset: 0, ease:Linear.easeNone})) // draw word for 0.9#}
{#            .add(TweenMax.to("path", 1, {stroke: "#33629c", ease:Linear.easeNone}), 0);			// change color during the whole thing#}
{##}
{#        // build scene#}
{#        var scene = new ScrollMagic.Scene({triggerElement: "#trigger1", duration: 200, tweenChanges: true}).setTween(tween).addIndicators().addTo(controller);#}
{#    }#}
{#</script>#}
    // You can compress this into a separate file using yuglify or some other compressor
    <script type="text/javascript">
        function pathPrepare($el) {
            var ovalLength = $el[0].getTotalLength();
            $el.css("stroke-dasharray", ovalLength);
            $el.css("stroke-dataoffset", ovalLength);
        }

        $ellipseVector = $("#ellipse");
        pathPrepare($ellipseVector);

        var controller = new ScrollMagic.Controller();

        var tween = new TimelineMax().add(TweenMax.to($ovalVector, 1, {strokeDashoffset: 0, ease: Linear.easeNone})).add(TweenMax.to("path", 1, {stroke: "#009BFF", ease:Linear.easeNone}), 0);

        var scene = new ScrollMagic.Scene({triggerElement: "#trigger1", duration: 200, tweenChanges: true}).setTween(tween).addTo(controller);

    </script>

    <script type="text/javascript">
        $(document).ready(function() {


            $('#time').click(function(){
                toggleTimeMoney(this);
            });

            $('#money').click(function(){
                toggleTimeMoney(this);
            });

            function toggleTimeMoney(toggle){
                if ($(toggle).hasClass('inactive') && toggle.id === 'time') {
                    $(toggle).removeClass('inactive');
                    $('#money').addClass('inactive');
                    $('#moneyDesc').removeClass('active');
                    $('#timeDesc').addClass('active');
                    $('#moneyBg').addClass('inactive').removeClass('active');
                    $('#timeBg').addClass('active').removeClass('inactive');
                } else if ($(toggle).hasClass('inactive') && toggle.id === 'money'){
                    $(toggle).removeClass('inactive');
                    $('#time').addClass('inactive');
                    $('#timeDesc').removeClass('active');
                    $('#moneyDesc').addClass('active');
                    $('#moneyBg').addClass('active').removeClass('inactive');
                    $('#timeBg').addClass('inactive').removeClass('active');

                } else {
                    return;
                }
            }

        });
    </script>
</body>
</html>
